
body {
    margin: auto 0;
}
main{
    background-color: grey;
    display: grid;
}
.heroimg {
    display: block;
    margin: auto 0;
}

header{
    text-align: center;
    display: grid;
    justify-content: center;
}

.roundedimage {
    border-radius: 50px;
    border: 5px solid black;
    width: 100px
}


